<!DOCTYPE html>
<html data-theme="dracula">
  <head>
    <meta charset="utf-8" />
    <title>ShopMC</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="flex justify-center">
        <div class="container">
          <div class="navbar bg-base-200 rounded-lg mt-5">
            <div class="flex-1">
              <a class="btn btn-ghost normal-case text-xl">{{shop.name}}</a>
            </div>
            <div class="flex-none">
              <button class="btn btn-square btn-ghost">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  class="inline-block w-5 h-5 stroke-current"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
            <div
              class="card bg-base-100 shadow-xl mt-3 w-full"
              v-for="product in shop.product"
            >
              <figure>
                <img :src="product.iconUrl" :alt="product.icon" />
              </figure>
              <div class="card-body">
                <h2 class="card-title">
                  {{product.name}}
                  <div class="badge badge-secondary">{{product.cost}} zł</div>
                </h2>
                <p>{{product.page}}</p>
                <div class="card-actions justify-end">
                  <a :href="product.paymentUrl" class="btn btn-primary"
                    >Kup teraz</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            shop: {},
          };
        },
        mounted() {
          const shopId = "Xd";
          const shopUrl = `https://shopmc-production-default-rtdb.europe-west1.firebasedatabase.app/shop/${shopId}/public.json`;
          (async () => {
            const response = await fetch(shopUrl);
            this.shop = await response.json();
            console.log(this.shop);
          })();
        },
      }).mount("#app");
    </script>
  </body>
</html>
